{% extends 'base.html.twig' %}

{% block title %}Тестовая страница с комментариями{% endblock %}
{% block body %}
<div class="container">
    <article>
        <div class="row">
            <div class="col">
                <section style="text-align: center;">
                    <h1>{{ page.title }}</h1>
                    <div style="text-align: right">
                        <button class="btn btn-primary">Войти</button>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <section>
                {{ page.text }}
            </section>
        </div>
        <div class="row">
            <section>
                <br>
                <h5 style="text-align: left;">Комментарии к статье</h5>
                <div>
                    {% if page.comments|length > 0 %}
                    {% for comment in page.comments %}
                        {% include 'comment.html.twig' with {'comment':comment} %}
                    {% endfor %}
                    {% else %}
                        Здесь еще нет ниодного комментария, ваш может быть первым...
                    {% endif %}
                </div>
            </section>
        </div>
    </article>
</div>

{% endblock %}